@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400..700&display=swap');

html{
    font-size: 13px;
}

body{
    background-color: var(--neutrals-5);
}

*{
    font-family: "Instrument Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: unset;
    text-decoration: none;
    list-style-type: none;
}


/* tipografia */


.h1{
    font-size: 3rem;
}

.h2{
    font-size: 2.462rem;
}

.h3{
    font-size: 2.077rem;
}

.h4{
    font-size: 1.692rem;
}

.h5{
    font-size: 1.462rem;
}

.h6{
    font-size: 1.231rem;
}

.text{
    font-size: 1rem;
}

.text-sm{
    font-size: 0.846rem;
}
.caption{
    font-size: 0.692rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, .text, .text-sm, .caption{
    padding: 0;
    margin: 0;
    color: unset;
}

.regular{
    font-weight: 400;
}

.smbold{
    font-weight: 600;
}

.width-body{
    max-width: 600px;
    margin: 0 auto;
}

.block{
    display: block;
}

.none{
    display: none;
}

.flex{
    display: flex;
}

.rotate{
    transform: rotate(180deg);
}

:root{
    --primario-1: #E6FBF7;
    --primario-2: #B0F1E6;
    --primario-3: #8AEADA;
    --primario-4: #54E1C9;
    --primario-5: #33DBBF;
    --primario-6: #00D2AF;
    --primario-7: #00BF9F;
    --primario-8: #00957C;
    --primario-9: #007460;
    --primario-10: #00584A;
    --neutrals-1: #FFFFFF;
    --neutrals-2: #F0F0F0;
    --neutrals-3: #D6D6D6;
    --neutrals-4: #BDBDBD;
    --neutrals-5: #A3A3A3;
    --neutrals-6: #8A8A8A;
    --neutrals-7: #707070;
    --neutrals-8: #575757;
    --neutrals-9: #3D3D3D;
    --neutrals-10: #242424;
    --neutrals-10-5: #171717;
    --neutrals-11: #0A0A0A;
}

@media screen and (min-width: 450px){
    html{
        font-size: 16px;
    }
}